article {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        'header'
        'body'
        'footer';
}

#jackolantern {
    width: 920px;
    height: 600px;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: orange;
}

h1 {
    color: orangered;
    font-size: 3em;
}

p::first-letter {
    font-size: 150%;
}