article {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header header header'
        '. main .'
        'footer footer footer';
}

#jackolantern {
    width: 920px;
    height: 600px;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: orange;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

h1 {
    color: orangered;
    font-size: 3em;
}

p::first-letter {
    font-size: 150%;
}