article {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header header header'
        '. main .'
        'footer footer footer';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    color: rgb(56, 56, 56);
    text-decoration: none;
}

#jackolantern {
    width: 920px;
    height: 600px;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: orange;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    justify-self: center;
}

footer {
    grid-area: footer;
}

h1 {
    color: orangered;
    font-size: 3em;
}

p::first-letter {
    font-size: 150%;
}