@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    font-family: Poppins;
    height: 100vh;
}
header {
    background-color: rgb(83, 80, 80);
    padding: 1.5em;
}

img {
    width: 350px;
    height: 250px;
}
.main{
    padding: 2em;
}
h1 {
    text-transform: capitalize;
    color: whitesmoke;
}

footer {
    background-color: rgb(83, 80, 80);
}
html  {
    height: 100%;
    background: #1a2980; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to bottom,
        #26d0ce,
        #1a2980
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to bottom,
        #26d0ce,
        #1a2980
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

